html
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	meta(name='description', content='Fidiomeet is simple easy to use video meeting chat in your browser and sharing your deskop. It brings real time communication to the next level virtual rooms')
	meta(name='author', content='fidiomeet team')
	meta(http-equiv='content-type', content='text/html;charset=UTF-8')

	title Katte

	link(rel="shortcut icon", href="Flat-UI-Pro-1.2.5/images/favicon.ico")
	link(rel='stylesheet', href='/css/agency.css')
	link(rel='stylesheet', href='/css/bootstrap.css')
	link(rel='stylesheet', href='/css/gridster.css')
	link(rel='stylesheet', href='/vendor/jquery-ui/themes/base/jquery.ui.core.css')
	link(rel='stylesheet', href='/vendor/jquery-ui/themes/base/jquery.ui.resizable.css')

body#page-top.index(lang='en', ng-app='sabheApp')
	div(ng-view='ng-view')

	#audiocontainer

	script(src='js/jquery-1.11.0.js')
	script(src='js/jquery.eas.min.js')

	script(src='/vendor/jquery/dist/jquery.js')
	script(src='/vendor/jquery/jquery.js')
	script(src='/vendor/jquery-ui/ui/jquery.ui.core.js')
	script(src='/vendor/jquery-ui/ui/jquery.ui.widget.js')
	script(src='/vendor/jquery-ui/ui/jquery.ui.mouse.js')
	script(src='/vendor/jquery-ui/ui/jquery.ui.draggable.js')
	script(src='/vendor/jquery-ui/ui/jquery.ui.resizable.js')
	script(src='/vendor/angular/angular.min.js')
	script(src='/vendor/angular/angular-route.min.js')
	script(src='/js/gridster.js')

	script(src='/vendor/jquery/jquery.form.js')
	script(src='/vendor/angular/ui-bootstrap-tpls-0.10.0.min.js')
	script(src='/vendor/angular/angular-sanitize.js')

	script(src='js/classie.js')
	script(src='js/sabheApp.js')
	script(src='js/controllers.js')
	script(src='js/filters.js')
	script(src='js/directives.js')
	
	script(src='js/bootstrap.js')
	script(src='js/cbpAnimatedHeader.js')
	
	script(src='js/contact_me.js')
	script(src='js/jqBootstrapValidation.js')
	script(src='js/agency.js')
	
